
/* Update the header style */
h1 {
  color: #000000;
}

.textbox {
  background-color: #dbcece;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.foottext {
  background-color: #dbcece;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
/* Update the link color */
a {
  color: #af6fc4;
}

 /* fixing the footer at the bottom */

.myfooter {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 80px; /* Adjust the height of the footer as needed */
      background-color: #f2f2f2;
      padding: 20px;
      box-sizing: border-box;
    }


/* Add your custom styles here */


html,body,h1,h2,h3,h4,h5,h6 {font-family: "Copperplate", sans-serif;}

/* #myElement {
  background-color: rgba(216, 166, 128, 0.746);
} */
/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}
 /* Set map, body, and html to 100% of the screen size. */ 
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2f040d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Add the flipBook animation */
@keyframes flipBook {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Apply the animation to the book element */
.book {
  animation: flipBook 5s infinite;
}

/*  */
/* .book-container {
  width: 200px;
  height: 250px;
  perspective: 800px;
  margin: 0 auto;
}

.book {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: flipBook 3s infinite;
}

.front-page,
.back-page {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}

.front-page {
  transform: rotateY(0deg);
  z-index: 2;
}

.back-page {
  transform: rotateY(180deg);
}

@keyframes flipBook {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
    /* color: #eee;  */
    
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    background-color: #eee;
    color: #440d0d;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color:  #F9F9F9;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

#map {
  width: 100%;
  height: 400px;
}