<!DOCTYPE html>
<html>
<head>
  

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!-- so charts take half of the oage, not fit to screen -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body style="background-color: #dbcece;">

    <title>Charts</title>
    <div id="myElement">
       <!-- sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../Templates/index.html">About</a>
  <a href="../Templates/charts.html">Interactive Charts</a>
  <a href="../Templates/theplan.html"> Plan</a>
  <a href="../Templates/top-rated.html">Top Stats</a>
  <a href="../Templates/faq.html">Frequently Asked Questions</a>
  <a href="../Templates/team.html">Who We Are</a>
            </div>
            
            <div id="main">
              <button id="navigationButton" class="openbtn" onclick="openNav()">☰</button>  
            <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
            }
            </script>
        
        <h1>Choose Your Target List</h1>
        <select id="selectList" onchange="listChanged(this.value)"></select>
        <!-- <select id="selectTimePeriod" onchange="timeChanged(this.value)"></select> -->
        <h3>Top Book in Category</h3>
        <div id="standalone-metadata" class="panel-body"></div> 
        <!-- <div id="sample-metadata" class="panel-body"></div> -->
        <div id="chart"></div>
        <div class="col-md-5">
          <div id="chart-pub"></div>
        </div>
        <div class="col-md-5">
          <div id="chart-auth-group"></div>
        </div>
        <div class="col-md-5">
          <div id="chart-pub-group"></div>
        </div>
        <div class="col-md-5">
          <div id="chart-imp-group"></div>
        </div>
        <div class="col-md-5">
          <div id="chart-comb-group"></div>
        </div>
        <div class="col-md-5">
          <div id="pieChart"></div>
        </div>
        <div class="col-md-5">
          <div id="treemap"></div>
        </div>
            
              
            <!-- Footer section -->
            <footer id="myFooter">
              <div class="w3-container w3-theme-l2 w3-padding-32">
           
                <!-- Navbar at the bootom-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../Templates/index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/charts.html">Interactive Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/top-rated.html">Highest Ranked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/team.html">The Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/theplan.html">Plan</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
              </div>
        
              <div class="w3-container w3-theme-l1">
                <p>Powered by <a href="https://github.com/StephWolter/GetOnTheList" target="_blank">OurGroupName</a></p>
                <a id="github-link" href="https://github.com/StephWolter/GetOnTheList" target="_blank" rel="noreferrer">
                    <button class="btn" type="submit">
                        <i class="bi bi-github"></i>
                    </button>
                </a>
              </div>
              <div class="container">
                <div class="footer text-center">
                  
                </div>
            </div>
            </footer>
            <main class="container">
            
          </div>
        </body>
          <!-- <script type="text/javascript" src="./updatingDropdown.js"></script> -->
          <script type="text/javascript" src="../static/js/functions_final.js"></script>
        
        </html>
        
        