<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>FAQ PAGE</title>
</head>

<body>
    <style>
        body {
          background-image: url('../Images/alice.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>
    <div id="myElement">
        <!-- sidebar -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="../Templates/index.html">About</a>
      <a href="../Templates/charts.html">Interactive Charts</a>
      <a href="../Templates/theplan.html"> Plan</a>
      <a href="../Templates/top-rated.html">Top Stats</a>
      <a href="../Templates/faq.html">Frequently Asked Questions</a>
      <a href="../Templates/team.html">Who We Are</a>

            </div>
            
            <div id="main">
              <button id="navigationButton" class="openbtn" onclick="openNav()">☰</button>  
            <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
            }
            </script>
    <main>

        <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">What is the NYT Bestseller List?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>The New York Times Bestseller list is one of the most prominent 
                      lists of bestselling books in the United States.
                      It is an important marker for publishing success but because of it's popularity, has become a great way to bolster sales and 
                      determine a book’s popularity.
                      The Bestseller list is not just one list, 
                      but rather several lists grouped by genre and format, some published weekly and others on a monthly basis.</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">What are the criteria to get on the list?</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>Exactly how the Times compiles the list is a "trade secret", however the list uses sales figures, 
                        other data and internal guidelines that are unpublished. The manner in which they analyze sales data is based on a proprietary method, however, 
                        "requires an author to make a minimum of 5000 book sales (higher, depending on the list) in a single week across diverse retailers and from multiple geographic locations." </p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
                <h1 class="faq-page">How long has the list existed?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>The Bestseller list was created in October 12, 1931 and since then The New York Times Book Review has published the list weekly. 
                      The list has expanded through the decades and has grown to include many more genres and categories.</p>
                    </div>
                </div>
            <hr class="hr-line">

            
            <div class="faq-four">

                <!-- faq question -->
                <h1 class="faq-page">What are Imprints?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>In publishing, an imprint is a trade or brand name under which a publisher publishes their work, this is typically done to target specific consumer market groups. 
                        Essentially, imprints are subsidiaries of larger publishing comapnies, and the name of the imprint is what appears on the book as the publisher.</p>
                    </div>
                </div>

            <hr class="hr-line">

            
            <div class="faq-five">
                 <!-- faq question -->
                 <h1 class="faq-page">What are the Big 5?</h1>

                 <!-- faq answer -->
                 <div class="faq-body">
                     <p>The "Big 5" sometimes referred to as the "Top 5" the Big 5 consists of the five biggest publishing companies in the USA. 
                        These are: Hachette Book Group, HarperCollins Publishers, Macmillan Publishers, Penguin Random House, and Simon & Schuster. </p>
                    </div>
                </div>
                <hr class="hr-line">

            
            <div class="faq-six">
                <!-- faq question -->
                 <h1 class="faq-page">Who is Colleen Hoover and why is she so important?</h1>

                 <!-- faq answer -->
                 <div class="faq-body">
                     <p>Great question!</p>
                </div>
            </div>

        </section>
    </main>
    <!-- Footer section -->
    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
     
        <!-- Navbar at the bootom-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../Templates/index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/charts.html">Interactive Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/top-rated.html">Highest Ranked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/team.html">The Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/theplan.html">Plan</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
        </nav>
        </div>
  
        <div class="w3-container w3-theme-l1">
          <p>Powered by <a href="https://github.com/StephWolter/GetOnTheList" target="_blank">OurGroupName</a></p>
          <a id="github-link" href="https://github.com/StephWolter/GetOnTheList" target="_blank" rel="noreferrer">
              <button class="btn" type="submit">
                  <i class="bi bi-github"></i>
              </button>
          </a>
        </div>
        <div class="container">
          <div class="footer text-center">
              
          </div>
      </div>
      </footer>
    </body>
    <script src="../static/js/faq.js"></script>
</body>


</html>