<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYT Bestsellers </title>

<!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- D3.js -->

<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<!-- Bootstrap CSS and js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Impact"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

</head>
<body>
  <style>
    body {
      background-image: url('../Images/alice.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <b><h1>WELCOME TO OUR WEBSITE</h1></b>
  <div id="myElement">
<!-- sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../Templates/index.html">About</a>
  <a href="../Templates/charts.html">Interactive Charts</a>
  <a href="../Templates/theplan.html"> Plan</a>
  <a href="../Templates/top-rated.html">Top Stats</a>
  <a href="../Templates/faq.html">Frequently Asked Questions</a>
  <a href="../Templates/team.html">Who We Are</a>

    </div>
    
    <div id="main">
      <button id="navigationButton" class="openbtn" onclick="openNav()">☰</button>  
    <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
  <div class="row about-row row-odd">
    <div class="textbox">

        <h1>Overview</h1>
        <p>This webpage uses data from <a href="https://www.nytimes.com/books/best-sellers/" target="_blank"
                    rel="noreferrer">NYT BestSeller List</a> to analyze and determine the top performing authors, books, and publishers, across genres.
                    With this data, statistical calculations were used to determine likelihood of re-entry to the list?
        </p>
        <div class="col-md-6 col-sm-12 image-box">
          <img src="../Images/nytbestlogo.png" height="150" width="150">
        </div>
    <!-- Footer section -->
    <footer id="myFooter">
      <div class="w3-container w3-theme-l2 w3-padding-32">
   
        <!-- Navbar at the bootom-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../Templates/index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/charts.html">Interactive Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/top-rated.html">Highest Ranked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/team.html">The Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Templates/theplan.html">Plan</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
      </div>

      <div class="w3-container w3-theme-l1">
        <p>Powered by <a href="https://github.com/StephWolter/GetOnTheList" target="_blank">OurGroupName</a></p>
        <a id="github-link" href="https://github.com/StephWolter/GetOnTheList" target="_blank" rel="noreferrer">
            <button class="btn" type="submit">
                <i class="bi bi-github"></i>
            </button>
        </a>
      </div>
      <div class="container">
        <div class="footer text-center">
            
        </div>
    </div>
    </footer>

       
  </div>
  <script src="logic.js"></script>
</html>

